* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    color: rgb(45, 45, 45);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: rgb(45, 45, 45);
    font-family: 'PT Serif', serif;
}

div.nav {
    position: fixed;
    top: 5px;
    left: 5px;
}

div.wrapper {
    width: 800px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

div.wrapper h1:first-child {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

div.wrapper h2:nth-child(2) {
    text-align: center;
    margin-top: 0;
}

h1.equation {
    margin-bottom: 0;
}

h2.sub {
    font-weight: normal;
    font-family: monospace;
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
}

h2, h3 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

form input {
    padding: 5px;
    border: 1px solid grey;
    background-color: white;
}

form input[type=text], form input[type=password] {
    width: 100%;
}

form input[type=submit] {
    width: 100%;
    border-color: rgb(188, 188, 188);
    background-color: rgb(224, 224, 224);
    color: rgb(96, 96, 96);
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
}

table.equations {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0 20px;
}

table.equations tr {
    height: 30px;
}

table.equations td {
    overflow: hidden;
    height: 30px;
}

table.equations td:nth-child(1) {
    width: 50px;
}

table.equations td:nth-child(2) {
    width: 300px;
}

table.equations thead {
    font-weight: bold;
}

div.forms {
    display: flex;
    flex-direction: row;
}

div.forms form {
    width: 50%;
    padding: 10px;
}

ul {
    list-style: none;
    margin-left: 30px;
}

code {
    font-family: monospace;
}

.center {
    text-align: center;
}

.error {
    color: rgb(221, 28, 28);
    background-color: rgba(205, 89, 89, 0.25);
    padding: 5px;
    font-weight: normal;
    font-style: italic;
}

span.error {
    background-color: transparent;
    display: block;
    text-align: center;
}
